{% extends 'base.html' %}

{% block content %}

<body class="login-page">
    <div class="twitter-login-box">
        <header>
            <img src="/static/img/logo-dom.png"
                alt="Domina logo">
            <h1>Inicia Sesión</h1>
        </header>

        <form method="post">
            {% csrf_token %}
            <div class="input-wrapper">
                <label for="user-name-id">Username</label>
                {{ form.username }}
            </div>

            <div class="input-wrapper">
                <label for="password-id">Password</label>
                 {{ form.password }}
            </div>

            {% if form.errors %}
            <p>Usuario o clave incorrecta.</p>
            {% endif %}

            <button class="twitter-btn">Log in</button>
        </form>

        <div class="footer">
            <a href="#">Olvidó su Password</a> .
            <a href="#">Registrate</a>
        </div>

    </div>
    {% endblock content %}