<body class="login-page">
    <div>
        <header>
            <img src="/static/img/logo-dom.png" alt="Domina logo">
            <div>
                <a href="{% url 'inicio' %}">Inicio</a>
            </div>
            <h2>Inicia Sesión</h2>

        </header>

        <form method="post">
            {% csrf_token %}
            <div class="input-wrapper">
                <label for="user-name-id">Username</label>
                {{ form.username }}
            </div>

            <div class="input-wrapper">
                <label for="password-id">Password</label>
                {{ form.password }}
            </div>

            {% if form.errors %}
            <p>Usuario o clave incorrecta.</p>
            {% endif %}

            <button class="btn btn-primary">Log in</button>
        </form>

        <div class="footer">
            <a href="#">Olvidó su Password</a> .
            <a href="{% url 'register' %}">Registrate</a>
        </div>

    </div>