{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block jumbo %}
    <h2 style="text-align: center;">Editar Empleado</h2>
{% endblock %}

{% block content %}
<div class="container">
    <form method='POST'>
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-3 mb-0">
                {{ form.cedula|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.area|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.cargo|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.nivel_academico|as_crispy_field }}
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-3 mb-0">
                {{ form.fecha_ingreso|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.salario_basico|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.arl|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.tipo_contrato|as_crispy_field }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-3 mb-0">
                {{ form.antiguedad|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.barrio|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.ciudad|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.departamento|as_crispy_field }}
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-3 mb-0">
                {{ form.estrato|as_crispy_field }}
            </div>
        </div>

        <br>
        <button type="submit" class="btn btn-primary">Agregar</button>
    </form>
</div>
{% endblock %}