{% extends 'base.html' %}
{% block content %}

<br>
<h2 style="text-align: center;">
    <caption>Empleados</caption>
</h2>

<div class="container">
    <a class="btn btn-success" href="{% url 'agregar_empleado' %}">Agregar</a>
    <div>
    <br>
    
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Número Documento</th>
                <th scope="col">Cargo</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>

            {% for empleado in empleados %}
            <tr>
                <th scope="row">{{ empleado.id }}</th>
                <td>{{ empleado.cedula }}</td>
                <td>{{ empleado.cargo }}</td>
                <td><a class="btn btn-danger btn-sm" href="{% url 'eliminar_empleado' empleado.id %}">Eliminar</a>
                <a class="btn btn-primary btn-sm" href="{% url 'editar_empleado' empleado.id %}">Editar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}