{% extends 'base.html' %}

{% block content %}
<br>
<h2 style="text-align: center;">
    <caption>Empresa</caption>
</h2>

<div class="container">
    <a class="btn btn-success" href="{% url 'agregar_empresa' %}">Agregar</a>
    <div>
    <br>
    
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre Empresa</th>
                <th scope="col">Nit</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>

            {% for empresa in empresas %}
            <tr>
                <th scope="row">{{ empresa.id }}</th>
                <td>{{ empresa.nombre }}</td>
                <td>{{ empresa.nit }}</td>
                <td><a class="btn btn-danger btn-sm" href="{% url 'eliminar_empresa' empresa.id %}">Eliminar</a>
                <a class="btn btn-primary btn-sm" href="{% url 'editar_empresa' empresa.id %}">Editar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}