{% extends 'base.html' %}

{% block content %}


<div class="container">
    <a class="btn btn-success" href="{% url 'agregar_inc' %}">Agregar</a>
    <div>
    <br>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th scope="col">Handle2</th>
            </tr>
        </thead>
        <tbody>

            {% for inc in incapacidades %}
            <tr>
                <th scope="row">{{ inc.id }}</th>
                <td>{{ inc.mes }}</td>
                <td>{{ inc.origen }}</td>
                <td><a class="btn btn-danger btn-sm" href="{% url 'eliminar_inc' inc.id %}">Eliminar</a></td>
                <td><a class="btn btn-primary btn-sm" href="{% url 'editar_inc' inc.id %}">Editar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}