{% extends 'base.html' %}

{% block jumbo %}
    <h2 style="text-align: center;">Incapacidades Domina</h2>
{% endblock %}

{% block content %}


<div class="container">
    <a class="btn btn-success" href="{% url 'agregar_inc' %}">Agregar</a>
    <div>
    <br>
    
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Documento</th>
                <th scope="col">Tipo enfermedad</th>
                <th scope="col">Opción1</th>
                <th scope="col">Opción2</th>
            </tr>
        </thead>
        <tbody>

            {% for inc in incapacidades %}
            <tr>
                <th scope="row">{{ inc.id }}</th>
                <td>{{ inc.cedula }}</td>
                <td>{{ inc.origen }}</td>
                <td><a class="btn btn-danger btn-sm" href="{% url 'eliminar_inc' inc.id %}">Eliminar</a></td>
                <td><a class="btn btn-primary btn-sm" href="{% url 'editar_inc' inc.id %}">Editar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}