{% extends 'base.html' %}

{% block content %}

<br>
<h2 style="text-align: center;">
    <caption>Nivel Académico</caption>
</h2>

<div class="container">
    <a class="btn btn-success" href="{% url 'agregar_nivel_academico' %}">Agregar</a>
    <div>
    <br>
    
    </div>
    <table class="table">
        <thead class="thead-dark" >
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nivel Académico</th>
                <th scope="col">Opciones</th>
        
            </tr>
        </thead>
        <tbody>

            {% for nivel_academico in niveles_academicos %}
            <tr>
                <th scope="row">{{ nivel_academico.id }}</th>
                <td>{{ nivel_academico.nivel }}</td>
                
                <td><a class="btn btn-danger btn-sm" href="{% url 'eliminar_nivel_academico' nivel_academico.id %}">Eliminar</a>
                <a class="btn btn-primary btn-sm" href="{% url 'editar_nivel_academico' nivel_academico.id %}">Editar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}