{% if request.user.is_authenticated %}

<body>
    <header>
        <h1>!Bienvenido {{ request.user.first_name }}¡</h1>
    </header>

    <nav>
        <a href="{% url 'logout' %}" class="btn text-white my-2 my-sm-0">Salir</a>
        <!--<a href="#" class="btn text-white my-2 my-sm-0">Llenar Datos Empleado</a>-->
        <a href="{% url 'incapacidad' %}" class="btn text-white my-2 my-sm-0">Crear Reporte Incapacidad</a>
        <!--<img width="250" src="/static/img/crear_incp.JPG">-->

    </nav>

    {% else %}

    <button class="btn btn-primary">
        <a style="color:blue;" href="{% url 'register' %}">Registrarse</a>
    </button>
    <button class="btn btn-primary">
        <a style="color: blue;" href="{% url 'login' %}">Login</a>
    </button>

    {% endif %}